body {
    margin: 0 auto;
    font-size: 20px;
    line-height: 25px;
    font-family: 'lato', sans-serif;
    max-width: 1000px;
    
    

}
header {
    background-color: white;
    text-align: center;
    padding-top: 50px;
}

header h1 {
    color: forestgreen;
    font-size: 50px;
}
h1, h2 {font-family: 'dancing script', cursive
}
h2 { color: firebrick;
    font-size: 30px;
    margin: 40px 0 10px;
}
.header2 {
    padding-top: 20px;
    max-width: 100%;
    text-align: center;
    margin: 20px;


}
.header2 li {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid lightsteelblue ;
    padding: 10px;
    text-align: center;
}
.header2,nav {display: inline-block;}

.header2 ul {background: snow;
    padding: 0;
    text-align: center;
}

main {
    max-width: 1000;
    margin: 0 auto;
    padding: 20px;
    vertical-align: center;
    
}
main img {
    max-width: 100%;
        object-fit: none;
        width: 700px;
        margin: 0 130px;
        height: 250px;
        object-position: 50% 70%;
    text-align: center;

        
}
a { 
    color: firebrick;
    text-decoration: none;
}
a:hover{ 
    color: whitesmoke;
    background-color:forestgreen;
}
footer{
    text-align: center;
    color:goldenrod;
    background-color: forestgreen;
    padding: 50px;
    margin: 0;
    max-width: 100%;
    
}
footer p{ 
    margin: 0
}
p.caption{ 
    color: #999999;
    font-style: italic;
    margin: 0 130px;
}

.sponsors {
    margin-top: 150px;

}

/* Facebook gallery section */
section#gallery {
    padding: 5% 0;
    text-align: center;
}
 
section#gallery a {
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    margin: 1%;
    display: inline-block;
}